body {
	padding: 0px;
	margin: 0px;
	background-color:   #fff;
}

.title {
	/*font-family: 'Special Elite', cursive;*/
	/*font-family: 'Helvetica', sans-serif;*/
	font-family: 'Averia Sans Libre', cursive;

	font-weight: 100;
	font-size: 100px;
	text-align: end;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.sub-title {
	font-family: 'Averia Sans Libre', cursive;
	font-size: 36px;
	font-weight: 100;
	text-align: end;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 15px;
	padding-bottom: 0px;
}

.project-title {
	font-family: 'Averia Sans Libre', cursive;
	font-size: 30px;
	font-weight: 100;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 30px;
	padding-bottom: 0px;
}

.contact {
	font-family: 'Averia Sans Libre', cursive;
	font-size: 24px;
	font-weight: 100;
	text-align: end;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 5px;
	padding-bottom: 0px;

}

.scroll {
	font-family: 'Averia Sans Libre', cursive;
	font-size: 20px;
	font-weight: 100;
	text-align: end;
	margin-top: 0px;
	padding-top: 0px;
}

#titles {
	position: absolute;
	/*top: 60%;*/
	right: 10%;
}


#gifs {
	position: absolute;
	margin: 8%;
}

.gif-group {
	font-family: 'Averia Sans Libre', cursive;
	display: inline-block;
	margin: 10px;
	padding: 0px;
	position: relative;
	box-shadow: 0px 1px 4px rgb(0,0,0,.8);
}

.tiny-title {
	font-size: 24px;
	margin: 0px;
	padding: 0px;
}

.hover-text {
	position: absolute;
	top: 0px;
	font-size: 16px;
	color: #fff;
	margin: 0px;
}

.hover-text a {
	margin: 0px;
	padding: 0px;
	color: #fff;
}

.hover-text p {
	margin: 0px;
	padding: 0px;
}
#projects {
	position: absolute;
	margin: 5%;
}
